.philosophy {
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin: 8vh 12vw;
}

.philosophy h1 {
    text-align: center;
}

.philosophy-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.philosophy-content h3 {
    font-size: 32px;
    margin-bottom: 5px;
}

.programs-text-container {
    margin: 8vh 12vw;
    text-align: center;
}

.programs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    padding: 0 12vw;
    margin: 5vh 0;
}

.programs-container h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.programs-container p {
    margin-top: 0px;
    font-size: 12px;
}

.programs-container Button {
    font-size: 14px;
    display: none;
}



@media screen and (max-width: 960px) {
    .philosophy-content {
        flex-direction: column;
    }

    .programs-container {
        grid-template-columns: 1fr;
    }
}