.founders-container {
    position: relative;
    max-width: 100%;
    padding: var(--section-padding-medium);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--section-gap);
    background-color: #f7fcfd;
    background-color: #fff;
}

.founders-container h1 {
    text-align: center;
}

.founders-container Button {
    padding: 10px 20px;
    font-size: 18px;
}

.founders-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.founders-content-container img {
    width: 200px;
    height: auto;
}

.founders-content-container Button {
    display: none;
}

.top-doodle {
    height: auto;
    width: 10vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
}

.bottom-doodle {
    height: auto;
    width: 10vw;
    position: absolute;
    bottom: 0;
    right: 5%;
    transform: rotate(-150deg);
}

@media screen and (max-width: 960px) {
    .founders-container {
        flex-direction: column;
    }
}
@media screen and (max-width: 760px) {
    .founders-container {
        text-align: center;
    }
    .founders-content-container {
        flex-direction: column;
    }
    .founders-content-container img {
        width: 100%;
        height: auto;
    }
}