.founders {
    position: relative;
    max-width: 100%;
    padding: var(--section-padding-medium);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--section-gap);
    text-align: center;
}

.founders Button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
}

.founders-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.founders-container img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.founders-container Button {
    display: none;
}

.bottom-doodle {
    height: auto;
    width: 10vw;
    position: absolute;
    bottom: 0;
    right: 5%;
    transform: rotate(-150deg);
}

@media screen and (max-width: 960px) {
    .founders {
        flex-direction: column;
    }

}
@media screen and (max-width: 760px) {
    .founders-container {
        flex-direction: column;
    }
    .founders-container img {
        width: 100%;
        height: auto;
    }
}