.hero {
    box-sizing: border-box;
    padding: var(--hero-padding);
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.hero-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hero-div p {
    font-size: 16px;
    inline-size: 75%;
    overflow-wrap: break-word;
}

.hero-div h1 {
    font-size: 72px;
    line-height: 0.8;
}

.tick-text {
    position: relative;
    color:#4070F4;
    font-weight: 600;
    overflow: hidden;
}

.tick-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-left: 2px solid  #4070F4;
    animation: animate 4s steps(12) infinite;
    overflow:hidden;
}

@keyframes animate {

    40%,60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}

.hero-btns {
    margin-top: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hero-img {
    width: 40%;
    height: auto;
}


@media screen and (max-width: 960px) {
    .hero {
        align-items: center;
        justify-content: center;
        padding: 12vh 6vw;
        flex-direction: column;
        row-gap: 1%;
    }

    .hero-div, .hero-img {
        width: 100%;
        align-self: center;
        justify-self: center;
    }

}
@media screen and (max-width: 760px) {
    .hero-div h1 {
        font-size: 48px;
        line-height: 0.8;
    }
    
    .hero-div p {
        inline-size: 100%;
    }
    .hero-div {
        align-items: center;
    }
    .hero-div h1, .hero-div p {
        text-align: center;
    }
}