.subscribe-container {
    padding: var(--section-padding-large);
    margin: 6vh 0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: var(--section-gap);
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.subscribe-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscribe-text-container h2 {
    text-align: left;
}

.side-doodle {
    height: auto;
    width: 10vw;
    position: absolute;
    top: 0;
    left: 2%;
    transform: rotate(30deg);
}


@media screen and (max-width: 760px) {
    .subscribe-container {
        flex-direction: column;
        text-align: center;
    }
    .subscribe-container h2 {
        text-align: center;
    }
}