.subjects-container {
    padding: var(--padding-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subjects {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 960px) {
    .subjects-container {
        flex-direction: column;
    }

    .subjects {
        display: flex;
        flex-direction: column;
    }
}