:root {
    /*PADDING*/
    --padding-primary: 8vh 12vw;
    --padding-large: 8vh 16vw;
    --padding-narrow: 8vh 6vw;
    --footer-padding: 8vh 6vw;

    /*MARGIN*/
    --margin-primary: 8vh 12vw;
    --margin-large: 8vh 16vw;

    /*FONTS*/
    --italic-font: 'Zodiak', serif;

    /*COLORS*/
    --color-primary: #2D84EE;
    --color-secondary: #09223c;
    --color-tertiary: #fcfbfd;
    --color-quarternary: #90a6be;
    --border-color-primary: #e7e9e9;

    --hero-padding: 10vh 12vw;
    --section-padding-medium: 8vh 12vw;
    --section-padding-large: 8vh 16vw;
    --section-gap: 40px;
    --section-gap-small: 10px;

    /*ACCESSORIES*/
    --box-shadow-primary: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

body {
    padding: 0;
    margin: 0;
}

/*PAGES*/
.main {
    margin: var(--margin-primary);
}

/*TYPES*/
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

span {
    background-color: var(--border-color-primary);
    width: 1px;
    height: 100px;
}

h1, h2, h3, h4, h5, h6 {
    color: #242424;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 0.9;
}

h1 {
    font-size: 60px;
    line-height: 1;
}

h2 {
    font-size: 48px;
    letter-spacing: -1px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

h6 {
    font-size: 16px;
    font-weight: 500;
}

p {
    color: #242424;
    font-size: 14px;
    line-height: 140%;
    margin: 5px 0;
}

i {
    font-family: var(--italic-font);
}

/*CONTAINERS*/
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.text-container p {
    text-align: center;
    inline-size: 75%;
    overflow-wrap: break-word;
}


/*ITEMS*/
.doodle {
    width: 200px;
    height: auto;
}

@media screen and (max-width: 960px) {

    h1 {
        font-size: 48px;
        line-height: 38px;
    }
    span {
        width: 200px;
        height: 1px;
    }
    .text-container p {
        inline-size: 100%;
    }
}
