:root {
    --primary-font: 'General Sans', sans-serif;
    --italic-font: 'Zodiak', serif;
    --underline-color: rgb(255, 203, 80);
    --span-color: #d3d5d7;
    --highlight-color: #1D4ED8;
    --footer-body-color: #12263F;
    --page-margin: 8vh 12vw;
    --hero-padding: 10vh 12vw;
    --footer-padding: 10vh 16vw;
    --section-padding-medium: 8vh 12vw;
    --section-padding-large: 8vh 16vw;
    --section-gap: 40px;
    --section-gap-small: 10px;
}

body {
    padding: 0;
    margin: 0;
}

span {
    background-color: var(--span-color);
    width: 2px;
    height: 100px;
}

h1, h2, h3, h4 {
    color: #242424;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 0.9;
}

h1 {
    font-size: 60px;
    line-height: 1;
}

h2 {
    font-size: 48px;
    letter-spacing: -1px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 16px;
    line-height: 140%;
    margin: 5px 0;
}

i {
    font-family: var(--italic-font);
}


u {
    text-decoration-color: var(--underline-color);
}

.doodle {
    width: 200px;
    height: auto;
}

@media screen and (max-width: 960px) {
    h1 {
        font-size: 48px;
        line-height: 38px;
    }
    span {
        width: 200px;
        height: 1px;
    }
}
