.email-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.email-form-container * {
    font-family: 'General Sans', sans-serif;
}

.input {
    width: stretch;
    padding: 4px 20px;
    outline: none;
    border: 0;
    border-bottom: 2px black solid;
    border-radius: 2px;
    background-color: transparent;
    font-size: 16px;
    margin-bottom: 20px;
}

.submit-btn {
    width: stretch;
    padding: 8px 20px;
    background-color: transparent;
    color: black;
    border: 2px solid #1D68B8;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(124, 123, 123, 0.2);
    font-size: 20px;
    font-weight: 600;
}