.subjects-container {
    padding: var(--section-padding-large);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--section-gap-small);
    background-color: #F7FAFC;
}

.subjects-container h2 {
    font-size: 24px;
}

.subjects-container h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.subjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}

@media screen and (max-width: 960px) {
    .subjects-container {
        flex-direction: column;
        row-gap: 20px;
    }

    .subjects {
        flex-direction: column;
        row-gap: 20px;
    }
}