.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;
}

.tag h5 {
    margin: 0;
    font-size: 14px;
    border: 2px solid #242424;
    border-radius: 18px;
    padding: 4px 20px;
    backdrop-filter: blur(1px);
}

.tag h5:hover {
    background-color: #242424;
    color: white;
    cursor: pointer;
}