.main {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    margin: var(--margin-primary);
}

.main span {
    background-color: var(--span-color);
    width: 100%;
    height: 1px;
}

.mission-content-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


@media screen and (max-width: 960px) {
    .mission-content-container {
        flex-direction: column;
    }
}