.banner {
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    padding: 1em 6vw;
    font-weight: 800px;
    line-height: 100%;
    box-shadow: var(--box-shadow-primary);
}