.btn {
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow-primary);
    font-weight: 600;
}

.btn--primary {
    color: white;
    background-color: #2D84EE;
}

.btn--outline {
    color: #242424;
    background-color: transparent;
    border: 2px solid #1D68B8;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 5px 14px;
    font-size: 12px;
}

.btn--large {
    padding: 10px 18px;
    font-size: 16px;
}

.btn--primary:hover {
    background-color: #1D68B8;
}

.btn--outline:hover {
    opacity: .8;
    transition: all 0.3s ease-out;
}
