.btn {
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow-primary);
    font-weight: 600;
}

.btn--primary {
    color: #fff;
    /*background-color: var(--color-primary);*/
    background-color: var(--color-secondary);
}

.btn--outline {
    color: #242424;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid var(--color-secondary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 14px;
    font-size: 12px;
}

.btn--large {
    padding: 10px 18px;
    font-size: 16px;
}

.btn--primary:hover {
    opacity: .8;
}

.btn--outline:hover {
    opacity: .8;
    transition: all 0.3s ease-out;
}
