.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.card-text-container h3 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 5px;
    color: rgb(21, 18, 18);
}

.card-text-container h4 {
    font-size: 18px;
    margin-bottom: 2px;
}

.card-text-container p {
    text-align: left;
    font-size: 16px;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.card-img {
    width: 50%;
    height: auto;
    align-self: center;
    border-radius: 8px;
}

@media screen and (max-width: 760px) {
    .card-img {
        width: 100%;
        height: auto;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }
}