.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.section-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.section-text-container h3 {
    font-size: 24px;
    text-align: left;
    margin: 0;
}

.section-text-container h4 {
    font-size: 14px;
    margin: 0;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.medium img {
    width: 25%;
    height: auto;
    align-self: center;
    border-radius: 8px;
}

.large img {
    width: 50%;
    height: auto;
    align-self: center;
    border-radius: 8px;
}


@media screen and (max-width: 760px) {
    .section img, .medium img, .large img {
        width: 100%;
        height: auto;
    }

    .section {
        display: flex;
        flex-direction: column;
    }
}